@import"../../responsive.scss";
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;

    a{
        transition: all 0.4s ease;
        
        @include sm{
            display: none;
        }
        &:hover{
            scale: 1.05;
        }
    }

    .left {
       flex: 3;
       display: flex;
       align-items: center;
       gap: 20px ;


       .logo{
        font-weight: bold;
        font-size: 10px;
        display: flex;
        align-items: center;
        gap:10px;

        img{
            width: 28px;
        }

        span{
            @include md{
                display: none;
            }
            @include sm{
                display: initial;
            }
        }
       }
       
    }
    .right {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content:flex-end;
        background-color: #fcf5f3;
        height: 100%;

        @include md{
            background-color: transparent;
        }

        a{
            padding: 12px 24px;
            margin: 20px;
        }
        .user{
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 12px;

            img{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit:cover;
                margin-right: 20px;
            }
            span{
                @include sm{
                    display: none;
                }
            }
            .profile{
                padding: 10px 20px;
                background-color: #fece51;
                cursor: pointer;
                border: none;

                // .notification{
                //     position: absolute;
                //     top:90px;
                //     right:7px;
                //     background-color: red;
                //     color: white;
                //     border-radius: 50%;
                //     width: 16px;
                //     height: 16px;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }
        }

        .register{
            background-color: #fece51;
        }

        .menuIcon{
            display: none;
            z-index:999;
            
            img{
                width: 26px;
                height: 26px;
                cursor: pointer;

            }
            @include sm{
                display: inline;
            }
        }
        .menu{
            position: absolute; 
            top:0;
            right:-50%;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            transition : all 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start; // Align items to start // originally center 
            padding-top: 90px; // Add padding at the top // added extra
            font-size: 14px; // Adjust font size
            z-index: 998;// added extra 

            &.active {
                right:0;
            }
            @include sm{
                a{
                    display: initial;
                    margin: 10px 0; // added extra 
                }
            }
        }
        
    }
}